:root{
  --primary-button-color: #bc08f3;
  --white-theme-color:#fff;
  --text-theme-color: #333;
}


body {
    font-family: 'Arial', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
  }

  
  .todo-container {
    background: var(--white-theme-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(190, 5, 5, 0.397);
    width: 100%;
    max-width: 400px;
  }

  h1 {
    text-align: center;
    font-size: 24px;
    color: var(--text-theme-color);
  }


.todo-form {
display: flex;
gap: 10px;
margin-bottom: 20px;
}


.todo-form input {
flex: 1;
padding: 10px;
border: 1px solid var(--primary-button-color);
border-radius: 6px;
font-size: 16px;
}


.todo-form button {
background: var(--primary-button-color);
color: var(--white-theme-color);
border: none;
padding: 10px 15px;
font-size: 16px;
border-radius: 6px;
cursor: pointer;
}


.todo-form button:hover {
  transition: ease-in-out 0.5s;
  color: var(--text-theme-color);
  box-shadow: 0 2px 15px var(--text-theme-color);
}


.todo-list {
list-style: none;
padding: 0;
}


.todo-item {
display: flex;
justify-content:space-between;
align-items:center;
padding: 10px;
border: 1px solid #ddd;
border-radius: 6px;
margin-bottom: 10px;
}

.todo-item.correct {
text-decoration:line-through;
text-transform:uppercase;
color: var(--primary-button-color);
}

.actions button {
background: none;
border: none;
cursor: pointer;
font-size: 16px;
}

.actions button.complete {
color: #4caf50;
}
.actions button.delete {
color: #f44336;
} 
