
body{
    margin: 0;
    padding: 0;
}


nav{
    width: auto;
    background-color: blue;
    font-weight: 700;
    color: #fff;
    padding: 30px 20px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    list-style: none;
}